.modal-view {
  position: fixed;
  inset: 0;
  z-index: 101;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &__backdrop {
    position: fixed;
    inset: 0;
    z-index: 85;
    background-color: #000000;
    opacity: 0.64;
  }

  &__full-screen {
    position: fixed;
    inset: 0;
    height: 100vh;
    padding: 0;
    overflow-y: auto;
  }

  &__normal {
    margin: auto;
    padding: var(--spacing-100);
    width: max-content;
    max-width: 100%;
  }
}
